<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <input type="password" name="password"/>
    <input type="submit" value="get file"/>
</form>
</body>
</html>